footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  background: #3f51b5;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.footer__headline {
  font-weight: 500;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}