<footer>
  <div>
    <h4 class="footer__headline">Navegação</h4>
    <ul class="footer__list">
      <li>nav 1</li>
      <li>nav 2</li>
      <li>nav 3</li>
    </ul>
  </div>
  <div>
    <h4 class="footer__headline">Siga-nos</h4>
    <ul class="footer__list">
      <li>social 1</li>
      <li>social 2</li>
      <li>social 3</li>
    </ul>
  </div>
  <div>
    <h4 class="footer__headline">Contatos</h4>
    <ul class="footer__list">
      <li>Adress</li>
      <li>Phone</li>
      <li>Email</li>
    </ul>
  </div>
</footer>
