<mat-toolbar>
    <button mat-button routerLink="/tutorial-angular" routerLinkActive="active">Projeto documentação angular</button>
  
    <button mat-button routerLink="/projeto-tasks" routerLinkActive="active">Projeto tasks</button>
  
    <button mat-button routerLink="/projeto-cadastro-usuario" routerLinkActive="active">Projeto cadastro usuário</button>
  
    <button mat-button routerLink="/projeto-cursos" routerLinkActive="active">Projeto cursos</button>
  
    <button mat-button routerLink="/projeto-output-input" routerLinkActive="active">Projeto output input</button>
  
    <button mat-button routerLink="/projeto-table-reutilizavel" routerLinkActive="active">Projeto table reutilizavel</button>
  
  <!--
    <button mat-button [matMenuTriggerFor]="coursesMenu">Courses</button>
    <mat-menu #coursesMenu="matMenu" xPosition="before"> yPosition="above", yPosition="below", xPosition="before", xPosition="after"
      <button mat-menu-item routerLink="/courses" routerLinkActive="active">
        <span>Courses</span>
      </button>
    </mat-menu>
  -->
  </mat-toolbar>
